@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  @apply sm:text-xl
}

p {
  @apply antialiased;
  @apply subpixel-antialiased;
  @apply tracking-tight;
  @apply leading-5;
  @apply pb-4;
  @apply text-justify; 
}

ul li {
  @apply mt-2;
}

img {
  @apply mx-auto;
}

.black-white {
  @apply bg-black text-white;
}

.white-black{
  @apply bg-white text-black;
}

.nav-link {
  @apply underline px-2 py-1;
}

.model {
  @apply mx-2 md:mx-auto;
  @apply md:max-w-[80%] md:mx-auto;
}

.model h1 {
  @apply pt-8 pb-4 font-bold text-center text-xl sm:text-2xl;
}

.model .content {
  @apply flex flex-col items-center justify-around;
  @apply lg:flex-row;
}

.model .text {
  @apply lg:w-1/2;
}

.model .content .image-container {
  @apply md:w-1/2 lg:h-1/2;
}

.model .content .image-container .image {
  @apply md:w-4/5 my-4 md:mx-auto;
  @apply filter invert;
}

#osi .content {
  @apply  lg:flex-row-reverse;
}

#comparativo .image{
  @apply filter invert;
}

#topologias {
  @apply flex flex-col items-center justify-around max-w-4xl mx-auto;
}

#topologias .container {
  @apply rounded border m-2;
}

/* accordion-trigger */
#topologias .container h1 {
  @apply text-center font-bold text-xl py-4;
  @apply cursor-pointer;
  @apply flex items-center justify-center;
}

#topologias .container .image img {
  @apply h-80 mx-auto pl-8;
  @apply object-contain;
}

#topologias .container .content {
  @apply p-8 pb-2;
}


#topologias .container .content h1 {
  @apply font-bold text-xl;
}

.container > * {
  @apply flex-1;
}

#protocolos .protocol {
  @apply flex flex-col my-8 px-8 py-4 sm:py-6 sm:px-8;
  @apply max-w-2xl mx-2;
}

#protocolos .protocol h1 {
  @apply font-bold text-xl sm:text-2xl;
}

#protocolos .protocol:nth-child(even) {
  @apply items-start text-left;
  @apply rounded-3xl rounded-tl-none border;
}

#protocolos .protocol:nth-child(odd) {
  @apply items-end text-right;
  @apply rounded-3xl rounded-tr-none border;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

.disappear-header {
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.deactive {
  @apply hidden;
}

.arrow {
  @apply ml-4
}

.arrow-down {
  @apply h-0 w-0 border-x-8 border-x-transparent border-b-[16px] border-b-black;
  @apply transform rotate-180;
}

.arrow-up {
  @apply h-0 w-0 border-x-8 border-x-transparent border-b-[16px] border-b-black;
}
